<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dunamis Client Email</title>
</head>
<body>
    <p>You Just received email from Your website contact form</p>
    <p><strong>Sender Name: </strong> {{name}}</p>
    <p><strong>Email: </strong> {{email}}</p>
    <p><strong>Phone: </strong> {{phone}}</p>
    <p><strong>Address: </strong> {{address}}</p>
    <p><strong>Message: </strong>  {{message}}</p>
</body>
</html>