{% load static %}

<!-- practice-area start -->
<div class="practice-area">
    <div class="container">
        <div class="col-l2">
            <div class="section-title text-center">
                <span>Area Of Practice</span>
                <h2>Serving You Across All Legal Disciplines</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="service-icon">
                                <i class="fi flaticon-parents"></i>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                            <div class="service-text">
                                <h3>Family Law</h3>
                                <p>Protecting relationships, rights, and futures through compassionate legal guidance.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="service-icon">
                                <i class="fi flaticon-wounded"></i>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                            <div class="service-text">
                                <h3>Personal Injury</h3>
                                <p>Fighting for your justice and compensation after accidents or injuries.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="service-icon">
                                <i class="fi flaticon-employee"></i>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                            <div class="service-text">
                                <h3>Business Law</h3>
                                <p>Guiding your company through legal challenges for success and growth.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="service-icon">
                                <i class="fi flaticon-thief"></i>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                            <div class="service-text">
                                <h3>Criminal Law</h3>
                                <p>Defending your rights with strong, experienced legal representation and strategy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="service-icon">
                                <i class="fi flaticon-university-graduate-hat"></i>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                            <div class="service-text">
                                <h3>Education Law</h3>
                                <p>Protecting student's rights and supporting fair policies in education systems.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="service-icon">
                                <i class="fi flaticon-house"></i>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                            <div class="service-text">
                                <h3>Real Estate Law</h3>
                                <p>Navigating property transactions and disputes with expert legal support.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- practice-area end -->